<div class="container">

    <div class="grid-row">
        <div class="grid-column">
            <img src="assets/urban-7.jpg" alt="" srcset="" data-aos="zoom-in"
            aos="fade"
            data-aos-duration="1000" 
            data-aos-easing="zoom-in">   
            <img src="assets/urban-5.jpg" alt="" srcset="" data-aos="zoom-in"
            data-aos-duration="1000"
            data-aos-easing="zoom-in">
            <img src="assets/urban-2.jpg" alt="" srcset="" data-aos="zoom-in"
            data-aos-duration="1000"
            data-aos-easing="zoom-in">

        </div>

        <div class="grid-column">
            <img src="assets/urban-6.jpg" alt="" srcset="" data-aos="zoom-in"
            data-aos-duration="1000"
            data-aos-easing="zoom-in">
            <img src="assets/urban-3.jpg" alt="" srcset="" data-aos="zoom-in"
            data-aos-duration="1000"
            data-aos-easing="zoom-in">         
        </div>

        <div class="grid-column">
            <img src="assets/urban-4.jpg" alt="" srcset="" data-aos="zoom-in"
            data-aos-duration="1000">
            <img src="assets/urban-1.jpg" alt="" srcset="" data-aos="zoom-in"
            data-aos-duration="1000"
            data-aos-easing="zoom-in">
        </div>
    </div>

</div>