<div class="container">

    <div class="grid-row">
        <div class="grid-column">
            <img src="assets/urban-7.jpg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out"> 
            <img src="assets/urban-5.jpg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/urban-2.jpg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

        </div>

        <div class="grid-column">
            <img src="assets/urban-6.jpg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/urban-3.jpg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">         
        </div>

        <div class="grid-column">
            <img src="assets/urban-4.jpg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/urban-1.jpg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
        </div>
    </div>

</div>