<div class="container">

    <div class="g-row">

           <div class="g-column">
            <img src="assets/nature-5.jpg" alt="" srcset="" data-aos="zoom-in"
            aos="fade"
            data-aos-duration="3000" 
            data-aos-easing="ease-in-out">  

            <img src="assets/nature-1.jpg" alt="" srcset="" data-aos="zoom-in"
            aos="fade"
            data-aos-duration="3000" 
            data-aos-easing="ease-in-out">  

            <img src="assets/nature-3.jpg" alt="" srcset="" data-aos="zoom-in"
            aos="fade"
            data-aos-duration="3000" 
            data-aos-easing="ease-in-out">  


           </div>
        
            <div class="g-column">    
            <img src="assets/nature-4.jpg" alt="" srcset="" data-aos="zoom-in"
            aos="fade"
            data-aos-duration="3000" 
            data-aos-easing="ease-in-out">   

            <img src="assets/nature-2.jpg" alt="" srcset="" data-aos="zoom-in"
            aos="fade"
            data-aos-duration="3000" 
            data-aos-easing="ease-in-out"> 
            
            <img src="assets/nature-3.jpg" alt="" srcset="" data-aos="zoom-in"
            aos="fade"
            data-aos-duration="3000" 
            data-aos-easing="ease-in-out">  
            </div>
    </div>