<div class="container">

    <div class="g-row">

           <div class="g-column">
            <img src="assets/nature-5.jpg" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

            <img src="assets/nature-1.jpg" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

            <img src="assets/nature-3.jpg" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">


           </div>
        
            <div class="g-column">    
            <img src="assets/nature-4.jpg" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out"> 

            <img src="assets/nature-2.jpg" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out"> 
            
            <img src="assets/nature-3.jpg" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            </div>
    </div>