
<div class="container">

    <div class="grid-row">
        <div class="grid-column">
            <img src="assets/person-8.jpg" 
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">


            <img src="assets/person-2.jpg" 
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">


            <img src="assets/person-10.jpeg" 
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

            <img src="assets/person-11.jpeg" 
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

            <img src="assets/person-1.jpg" 
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

        </div>

        <div class="grid-column">
            <img src="assets/person-3.jpeg" 
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

            <img src="assets/person-5.jpg" 
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">    

            <img src="assets/person-9.jpeg" 
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

            <img src="assets/person-12.jpeg" 
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

            <img src="assets/person-14.jpeg" 
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
        </div>

        <div class="grid-column">
            <img src="assets/person-7.jpg" 
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

            <img src="assets/person-4.jpg" 
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

            <img src="assets/person-6.jpeg"  
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

            <img src="assets/person-13.jpeg" 
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

            <img src="assets/person-15.jpeg" 
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
        </div>
    </div>

</div>
