/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{
    // background-color: #2d2d2d;
    // color: white;
    color: #2d2d2d;
    background-color: white;
    min-height: 100%;
}

h1{
    font-family: 'Permanent Marker', cursive;
}

