@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap');

body{
    color: #2d2d2d;
    background-color: white;
    min-height: 100%;
    margin: 0;
    margin-bottom: 3vh;
    font-family: 'Fanwood Text', serif;
}


