<div class="container">

    <div class="grid-row">
        <div class="grid-column"> 
            <img src="assets/boudoir-2.jpg"  data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-6.jpg"  data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-10.jpeg"  data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-11.jpeg"  data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-8.jpeg"  data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

        </div>

        <div class="grid-column">
            <img src="assets/boudoir-4.jpg"  data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-5.jpg"  data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">      

            <img src="assets/boudoir-9.jpeg"  data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
        </div>

        <div class="grid-column">
            <img src="assets/boudoir-3.jpg"  data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-7.jpg"  data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-12.jpeg"  data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
        </div>
    </div>

</div>