<div class="container">

    <div class="grid-row">
        <div class="grid-column"> 
            <img src="assets/boudoir-2.jpg" alt="" srcset="" data-aos="zoom-in"
            data-aos-duration="3000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-6.jpg" alt="" srcset="" data-aos="zoom-in"
            data-aos-duration="3000"
            data-aos-easing="ease-in-out">

        </div>

        <div class="grid-column">
            <img src="assets/boudoir-4.jpg" alt="" srcset="" data-aos="zoom-in"
            data-aos-duration="3000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-5.jpg" alt="" srcset="" data-aos="zoom-in"
            data-aos-duration="3000"
            data-aos-easing="ease-in-out">      
            <img src="assets/boudoir-9.jpg" alt="" srcset="" data-aos="zoom-in"
            data-aos-duration="3000"
            data-aos-easing="ease-in-out">   
        </div>

        <div class="grid-column">
            <img src="assets/boudoir-3.jpg" alt="" srcset="" data-aos="zoom-in"
            data-aos-duration="3000">
            <img src="assets/boudoir-7.jpg" alt="" srcset="" data-aos="zoom-in"
            data-aos-duration="3000"
            data-aos-easing="ease-in-out">
        </div>
    </div>

</div>