<div class="container">

    <div class="grid-row">
        <div class="grid-column"> 
            <img src="assets/boudoir-2.jpg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-6.jpg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-10.jpeg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-11.jpeg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-8.jpeg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">

        </div>

        <div class="grid-column">
            <img src="assets/boudoir-4.jpg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-5.jpg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">      
            <img src="assets/boudoir-9.jpg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">   
            <img src="assets/boudoir-9.jpeg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
        </div>

        <div class="grid-column">
            <img src="assets/boudoir-3.jpg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-7.jpg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-12.jpeg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
            <img src="assets/boudoir-15.jpeg" alt="" srcset="" data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="ease-in-out">
        </div>
    </div>

</div>