<app-nav-bar class="mobile-nav"></app-nav-bar>

<div class="home-photo-container justify-content-center">

        
             <div class="mr-2 main-img row align-items-end">
                 <ul class="contact-info md-aut pr-3">
                   <li>
                    <i class="fas fa-thumbtack"></i>
                     Prague
                    </li>
                   <li>
                     <i class="fab fa-instagram"></i>
                     @petrsvt
                  </li>
                   <li>
                    <i class="far fa-envelope-open"></i>
                    petr.svitìl@gmail.com
                   </li>
                   <li>
                    <i class="fas fa-phone-alt"></i>
                    +420 778168294
                   </li>
                 </ul>
             </div>

          <div class="secondary-container mr-1">

            <div class="secondary-img first mb-1"
             routerLink="/people" routerLinkActive="active">
              <h3 class="secondary-text">People</h3>
            </div>

            <div class="secondary-img third"
            routerLink="/nature" routerLinkActive="active">
              <h3 class="secondary-text">Nature</h3>
            </div>

          </div>


          <div class="secondary-container">

            <div class="secondary-img second mb-1"
            routerLink="/urban" routerLinkActive="active">
              <h3 class="secondary-text">Urban</h3>
            </div>

            <div class="secondary-img fourth"
            routerLink="/boudoir" routerLinkActive="active">
              <h3 class="secondary-text">Boudoir</h3>
            </div>
            
          </div>

</div>