//@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200;1,500&display=swap');


.nav-list {
    list-style: none;
    display: inline-flex;
    text-align: center;
    margin: 0 auto;
    li {
        margin: 20px 50px 0px 0px;
        font-family: 'Raleway', sans-serif;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    .nav-element{
        opacity: 1;
        &:active, &:focus{
            outline: 0;
            border: none;
            opacity: .7;
                }
    }

}

