.nav-container{
    margin-bottom: 2vh;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    padding-left: 0;
    li {
        font-family: 'Fanwood Text', serif;
    }
    .nav-element{
        opacity: 1;
        text-decoration: underline 0.10em rgba(black, 0);
        transition: text-decoration-color ease-in-out 300ms;
        

        &:hover{
            cursor: pointer;
            text-decoration-color: rgba(black, .5);
        }
        &:active, &:focus{
            outline: 0;
            border: none;
            opacity: .7;
        }
    }

}


